<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Discover book</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/img/icononotext.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="../static/css/styles.css" rel="stylesheet" /> --> 
        <!--<script src="../static/js/data-table.js"></script> -->
        <!-- <script src="../static/js/bootstrap-slider.js"></script>  -->

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        
        <!-- <script type="text/javascript" src="{{ ASSET_URL }}"></script> -->
        <style>
            .progress {cursor: progress;}
            
        </style>
        
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <img src="../static/img/icononotext.png" width="60" height="60" >
                
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Discover book</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Recommendations</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Project description</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-image-rec text-white text-center" >
            <div class="container d-flex align-items-center flex-column">
                <div class="container-bg">
                    <form class="form" action="index.html"  id="formulario_recomendacion" method = "GET" onsubmit="frenarSubmit(event)">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Book name</label>          
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="name" placeholder="Book name" name="libro" required oninput="autocompletar()">
                            </div>
                            <div id="contenedor-autocompletar"></div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Rating</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="rating" id="rating" placeholder="Rating" required min="1" max="5">
                            </div>
                        </div>
                  

                    <!--Boton desplegar filtros-->
                    <div class="separator" id = "optional-filters" onclick="accionFiltros()">Optional filters</div>
                    <div id="filtros">
                        <div id="container-filtros">
                            <div class="form-group row formulario-filtros">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Author name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="author" placeholder="Author">
                                </div>
                            </div>
                            <!--Cambiar por small, medium y large desplegable-->
                            <div class="form-group row formulario-filtros">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Book size</label>      
                                <div class="col-sm-8">       
                                    <select class="form-control">
                                        <option>Any size</option>
                                        <option>Small</option>
                                        <option>Medium</option>
                                        <option>Large</option>
                                    </select>           
                                </div>
                            </div>
                            <div class="form-group row formulario-filtros">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Language</label>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option>Any language</option>
                                        <option>English</option>
                                        <option>Spanish</option>
                                    </select>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-xl btn-outline-light" id = "recomiendame">Recommend me</button>
                    </div>
                    <!--<div>
                        <button type="submit" class="btn btn-primary mb-2" id = "recomiendame" onclick="buscar()">Recommend me</button>    
                    </div>-->
                    <div class="error">
                        <p id="errorMessage">Necesita insertar un nombre del libro y su calificación</p>
                    </div>
                    <div class="lds-ellipsis" hidden="true" id="loading-animation"><div></div><div></div><div></div><div></div></div>
                </form>
                
                </div>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 our-recommendations">Our recommendations</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Tabla de recomendaciones -->
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Book name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Language</th>
                        <th scope="col">Nº Pages</th>
                      </tr>
                    </thead>
                    <tbody id="recomendaciones">
                      <!-- Aquí van las recomendaciones -->
                        
                    </tbody>
                  </table>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Description</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <!--  -->
                    <div class="col-lg-12 ml-auto"><p class="lead"><br>This recommendation system is based on the rating of each of the users to the books and under correlation of the above we give possible books that you might be interested in reading.</br><br />
                    This website is the result of the final project for the Artificial Intelligence and Machine Learning bootcamp taught by the Esplai foundation and funded by the European Union in search of youth employment in the science and technology sector.</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://gitlab.com/ivanmr/detection-group">
                        <i class="fas fa-download mr-2"></i>
                        Download project
                    </a>
                </div>
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About us</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line mb-4"></div>
                    <div class="divider-custom-icon mb-4"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line mb-4"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="box">
                    <div><img src="{{ url_for('static', filename='img/abraham.jpg') }}" class="circle" alt="Abraham"></div>
                    <div class="containerProfiles">
                        <h2>Abraham Chasing</h2>
                        <h6>Full-Stack programmer, Machine learning, Network computer systems administrator</h6>
                        <a href="https://linkedin.com/in/abraham-chasing"><img src="../static/img/linkedin.png"/></a>
                    </div>
                    <div><img src="{{ url_for('static', filename='img/bryan.png') }}" class="circle" alt="Bryan"></div>
                    <div class="containerProfiles">
                        <h2>Bryan Chalan</h2>
                        <h6>FullStack Programmer, Machine Learning</h6>
                        <a href="https://www.linkedin.com/in/bryanchalan/"><img src="../static/img/linkedin.png"/></a>
                    </div>
                </div>
                <div class="box">
                    <div><img src="../static/img/ivan.png" class="circle" alt="Ivan"></div>
                    <div class="containerProfiles">
                        <h2>Iván Morales</h2>
                        <h6>Mobile and web developer Full-Stack </h6>
                        <a href="https://www.linkedin.com/in/ivan-morales-rosique/"><img src="../static/img/linkedin.png"/></a>
                    </div>
                    <div><img src="../static/img/ronald.jpg" class="circle" alt="Ronald"></div>
                    <div class="containerProfiles">
                        <h2>Ronald Sotelo</h2>
                        <h6>Junior data analyst, business intelligence</h6>
                        <a href="https://www.linkedin.com/in/ronaldsotelo/"><img src="../static/img/linkedin.png"/></a>
                    </div>
                </div>  
                
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row footer-row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            Carrer d'En Llàstics
                            <br />
                            Barcelona, 08003
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">About Freelancer</h4>
                        <p class="lead mb-0">
                            Freelance is a free to use, MIT licensed Bootstrap theme created by
                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                            .
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright © Discover book 2020</small></div>
        </div>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/data-table.js') }}"></script> 
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
